{% extends 'regulars/main_page.html' %}
{% block content %}
    {% if articles %}
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <table style="width: 100%;" class="table table-condensed">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Article name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles%}
                        <tr>
                            <th scope="row">{{ article.id }}</th>
                            <td>{{ article.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="font-weight-light" style="font-size: xx-large; margin-left: 2%">There are no articles</p>
    {% endif %}
{% endblock %}